doctype html
html(lang="en")
  head
    title Summons Site
    link(rel="stylesheet", type="text/css", href="/public/resources/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block css
    block scripts
  body
      block content

      footer#footer
        p Copyright &#169; 2019 David Corne.
