body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
    padding-left: 30px;
}

.dataColumn, .spellColumn {
    display: none;
}

h1 {
    background-color: lightgray;
    width: 100%;
    height: 45px;
    padding: 30px;
    max-width: 200%;
    margin: 0;
    margin-bottom: 5px;
    font-size: 3.5em;
}

h1 > a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 0.2px solid black;
    padding: 4px;
    padding-right: 10px;
    text-align: left;
}

th {
    background-color: lightgray;
}

select {
    padding: 5px;
    margin-right: 10px;
}

#monsterTable {
    width: 50%;
}

.leftColumn {
    width: 50%;
}

.sidebar {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
}

.creature {
    padding-left: 8px;
}
