body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
    padding-left: 30px;
}

.spellColumn {
    display: none;
}

h1 {
    background-color: lightgray;
    min-height: 5%;
    padding: 30px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 3.5em;
}

h1 > a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 0.2px solid black;
    padding: 4px;
    padding-right: 10px;
    text-align: left;
}

th {
    background-color: lightgray;
}

select {
    padding: 5px;
    margin-right: 10px;
}

#monsterTable {
    width: 50%;
}

.leftColumn {
    width: 50%;
    overflow: scroll;
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 100;
    background-color: white;
}

.monsterBody {
    border-left: black inset 1px;
    padding-left: 8px;
    min-height: 80%;
}

@media screen and (max-width: 1180px) {
    /* Full screen the sidebar */
    .sidebar {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1180px) {
    .sidebar {
        width: 49%;
        max-width: 50%;
    }
}

.creature-name {
    min-height: 5%;
}

.monsterType {
    float: right;
}

.creature {
    height: 100%;
}

.successFailure {
    padding-top: 3px;
    padding-left: 15px;
}

.actionIcon {
    height: 15px;
}

.traits {
    margin: 10px;
}

.traits > span {
    border-style: double;
    border-width: 2px;
    border-color: black;
    margin: 5px;
    margin-right: 10px;
    padding: 2px;
    background-color: lightgray;
    text-align: center;
}

.spellGroup {
    padding-left: 15px;
}
